<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ವಿವರಗಳು</title>
    <link rel="stylesheet" href="aboutk.css">
</head>
<body>
    <div class="container1.1">
        <div class="navbar">
        
            <h1 id="main-heading"> GO-Green</h1>
            <ul class="list1">
                <li id="home-link" onclick="window.location.href='/more'">FOR-HELP</li>
              <select name="select" id="Laungage" onchange="ourfunction()">
                <option value="english" >English</option>
                <option value="kannada">ಕನ್ನಡ</option>
               
                <option value="hindi" >हिंदी</option>
                <option value="telugu">తెలుగు</option>           
                <option value="tamil" >தமிழ்</option>
              </select>
              
            <button id="Login-link" class="btn" onclick="window.location.href='/login'">LOG-IN</button>
          
            <a id="sign-link" class="btn" href="/signup">SIGN-UP</a>
            </ul>
          </div>
        <div class="about_info">
            <p></p>

        </div>


    </div>
    
</body>
<script>
function kfunction(){
    window.location.href='land.html'
}
</script>
</html>