<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>landing page</title>
    <link rel="stylesheet" href="land.css" />
    <link rel="icon" href="" />
  </head>
  <body>
    <div class="container1">
      <div class="navbar">
        
        <h1 id="main-heading"> GO-Green</h1>
        <ul class="list1">
          <li id="home-link" onclick="window.location.href='/more'">FOR-HELP</li>
          <select name="select" id="Laungage" onchange="ourfunction()">
            <option value="english" >English</option>
            <option value="kannada">ಕನ್ನಡ</option>
           
            <option value="hindi" >हिंदी</option>
            <option value="telugu">తెలుగు</option>           
            <option value="tamil" >தமிழ்</option>
          </select>
          
        <button id="Login-link" class="btn" onclick="window.location.href='/login'">Log-In</button>
      
        <a id="sign-link" class="btn" href="/signup">Sign-Up</a>
        </ul>
      </div>
      <div class="container2">
        <div class="heading">
          <h2>NEW FEATURE</h2>
          <h3>ಆರೋಗ್ಯಕರ ಜೀವನಕ್ಕಾಗಿ </h3>
          <h4>ಆರೋಗ್ಯಕರ ಸಸ್ಯ</h4>
          <h5>ನಿಮ್ಮ ಎಲ್ಲಾ ದೈನಂದಿನ ಬಳಕೆಗಾಗಿ ವೆಬ್‌ಸೈಟ್</h5>
          <button class="btn2" onclick="aboutfuncation()">ಹೆಚ್ಚಿನ ವಿವರಗಳಿಗಾಗಿ</button>
        </div>

        <div class="container3">
          <img src="go,3.3.png" alt=""/>
        </div>
       
    </div>
    
    <script>
      function myFuncation(){
        window.location.href='kann.html'
      }

      function aboutfuncation(){
        window.location.href='aboutk.html'
      
      }
      function Efuncation(){
        window.location.href='../main_aloe vera/landing.html'

      }
      function Hfuncation(){
        window.location.href='../hindi_alovera/landH.html'

      }
      function Tfuncation(){
        window.location.href='../telugu_alovera/landT.html'

      }
      function Tifuncatin(){
        window.location.href='../'

      }
    </script>
  </body>
</html>
